client/src/main/resources/file.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="PubmedArticleSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PubmedArticle" maxOccurs="unbounded"
					minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MedlineCitation">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PMID">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:int">
														<xs:attribute type="xs:byte" name="Version" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="DateCreated">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:short" name="Year" />
													<xs:element type="xs:byte" name="Month" />
													<xs:element type="xs:byte" name="Day" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="DateCompleted">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:short" name="Year" />
													<xs:element type="xs:byte" name="Month" />
													<xs:element type="xs:byte" name="Day" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="DateRevised">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:short" name="Year" />
													<xs:element type="xs:byte" name="Month" />
													<xs:element type="xs:byte" name="Day" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Article">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Journal">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ISSN">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute type="xs:string" name="IssnType" />
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="JournalIssue">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element type="xs:short" name="Volume" />
																			<xs:element type="xs:byte" name="Issue" />
																			<xs:element name="PubDate">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element type="xs:short" name="Year" />
																						<xs:element type="xs:byte" name="Month" />
																						<xs:element type="xs:byte" name="Day" />
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute type="xs:string" name="CitedMedium" />
																	</xs:complexType>
																</xs:element>
																<xs:element type="xs:string" name="Title" />
																<xs:element type="xs:string" name="ISOAbbreviation" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element type="xs:string" name="ArticleTitle" />
													<xs:element name="Pagination">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="MedlinePgn" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ELocationID">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute type="xs:string" name="EIdType" />
																	<xs:attribute type="xs:string" name="ValidYN" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="AuthorList">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Author">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element type="xs:string" name="LastName" />
																			<xs:element type="xs:string" name="ForeName" />
																			<xs:element type="xs:string" name="Initials" />
																			<xs:element name="AffiliationInfo">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element type="xs:string" name="Affiliation" />
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute type="xs:string" name="ValidYN" />
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute type="xs:string" name="CompleteYN" />
														</xs:complexType>
													</xs:element>
													<xs:element type="xs:string" name="Language" />
													<xs:element name="PublicationTypeList">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PublicationType" maxOccurs="unbounded"
																	minOccurs="0">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute type="xs:string" name="UI"
																					use="optional" />
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute type="xs:string" name="PubModel" />
											</xs:complexType>
										</xs:element>
										<xs:element name="MedlineJournalInfo">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="Country" />
													<xs:element type="xs:string" name="MedlineTA" />
													<xs:element type="xs:int" name="NlmUniqueID" />
													<xs:element type="xs:string" name="ISSNLinking" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ChemicalList">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Chemical" maxOccurs="unbounded"
														minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="RegistryNumber" />
																<xs:element name="NameOfSubstance">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute type="xs:string" name="UI"
																					use="optional" />
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="CitationSubset"
											maxOccurs="unbounded" minOccurs="0" />
										<xs:element name="CommentsCorrectionsList">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CommentsCorrections"
														maxOccurs="unbounded" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="RefSource" />
																<xs:element name="PMID">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:int">
																				<xs:attribute type="xs:byte" name="Version"
																					use="optional" />
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute type="xs:string" name="RefType"
																use="optional" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="MeshHeadingList">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="MeshHeading" maxOccurs="unbounded"
														minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="DescriptorName">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute type="xs:string" name="UI"
																					use="optional" />
																				<xs:attribute type="xs:string" name="MajorTopicYN"
																					use="optional" />
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="QualifierName" minOccurs="0">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute type="xs:string" name="UI"
																					use="optional" />
																				<xs:attribute type="xs:string" name="MajorTopicYN"
																					use="optional" />
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:string" name="Status" />
									<xs:attribute type="xs:string" name="Owner" />
								</xs:complexType>
							</xs:element>
							<xs:element name="PubmedData">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="History">
											<xs:complexType>
												<xs:choice maxOccurs="unbounded" minOccurs="0">
													<xs:element name="PubMedPubDate">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:short" name="Year" />
																<xs:element type="xs:byte" name="Month" />
																<xs:element type="xs:byte" name="Day" />
																<xs:element type="xs:byte" name="Hour" />
																<xs:element type="xs:byte" name="Minute" />
															</xs:sequence>
															<xs:attribute type="xs:string" name="PubStatus"
																use="optional" />
														</xs:complexType>
													</xs:element>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="PublicationStatus" />
										<xs:element name="ArticleIdList">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ArticleId" maxOccurs="unbounded"
														minOccurs="0">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute type="xs:string" name="IdType"
																		use="optional" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

